<div class="main__content">
    <div class="container main__content-container">
        <h1 class="main__content-title">Расходы</h1>
        <div class="main__content-block">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Еда</h5>
                    <button class="card-btn btn btn-primary" onclick="location.href='/expenses-editing'">
                        Редактировать
                    </button>
                    <button type="button" class="card-btn btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">Удалить
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Жилье</h5>
                    <button class="card-btn btn btn-primary" onclick="location.href='/expenses-editing'">
                        Редактировать
                    </button>
                    <button type="button" class="card-btn btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">Удалить
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Здоровье</h5>
                    <button class="card-btn btn btn-primary" onclick="location.href='/expenses-editing'">
                        Редактировать
                    </button>
                    <button type="button" class="card-btn btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">Удалить
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Кафе</h5>
                    <button class="card-btn btn btn-primary" onclick="location.href='/expenses-editing'">
                        Редактировать
                    </button>
                    <button type="button" class="card-btn btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">Удалить
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Авто</h5>
                    <button class="card-btn btn btn-primary" onclick="location.href='/expenses-editing'">
                        Редактировать
                    </button>
                    <button type="button" class="card-btn btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">Удалить
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Одежда</h5>
                    <button class="card-btn btn btn-primary" onclick="location.href='/expenses-editing'">
                        Редактировать
                    </button>
                    <button type="button" class="card-btn btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">Удалить
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Развлечения</h5>
                    <button class="card-btn btn btn-primary" onclick="location.href='/expenses-editing'">
                        Редактировать
                    </button>
                    <button type="button" class="card-btn btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">Удалить
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Счета</h5>
                    <button class="card-btn btn btn-primary" onclick="location.href='/expenses-editing'">
                        Редактировать
                    </button>
                    <button type="button" class="card-btn btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">Удалить
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Спорт</h5>
                    <button class="card-btn btn btn-primary" onclick="location.href='/expenses-editing'">
                        Редактировать
                    </button>
                    <button type="button" class="card-btn btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">Удалить
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card__add card-body" onclick="location.href='/expenses-create'">
                    <button class="card__add-text card-title">+</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Вы действительно хотите удалить категорию?</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-success">Да, удалить</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
            </div>
        </div>
    </div>
</div>
