<div class="main__content">
    <div class="container main__content-container">
        <h1 class="main__content-title">Редактирование категории доходов</h1>
        <div class="main__content-block">
            <div class="input-group flex-nowrap">
                <input type="text" class="form-control" placeholder="Название..." aria-label="search"
                       aria-describedby="addon-wrapping">
            </div>
            <div class="block-actions">
                <button type="button" class="btn btn-success">Сохранить</button>
                <button type="button" class="btn btn-danger">Отмена</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Да, удалить</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
            </div>
        </div>
    </div>
</div>
