.main {
    display: flex;
}

.main__sidebar {
    width: 220px;
    min-width: 220px;
    height: 100vh;
    padding-top: 20px;
    flex-shrink: 0;

    position: relative;
    z-index: 1000;
    border-right: 1px solid var(--border__color);;
}

.main__sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
}

hr {
    margin: 0;
}

.main__sidebar-nav {
    width: 185px;
    min-width: 185px;
    display: flex;
    margin: 60px 21px 0 20px;

}

.sidebar-link {
    font-size: 14px;
    width: 185px;
    text-align: left;
    color: var(--title__color) !important;
}

.sidebar-link:hover {
    color: white !important;
    background-color: var(--main__color) !important;
}

.sidebar-link:hover .sidebar-icon {
    fill: #ffffff !important;
}

.sidebar-link[aria-expanded="true"] {
    border: 1px solid var(--main__color);
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
}

.sidebar-dropdown, .show {
    border: 1px solid var(--main__color);
    border-top: 0;
    border-radius: 0 0 10px 10px;
}

.active {
    color: white !important;
}

.link-arrow {
    margin-left: 71px;
}

.main__sidebar-footer {
    position: absolute;
    bottom: 0;
    left: 20px;
    width: calc(100% - 40px);

    display: flex;
    justify-content: end;
    flex-direction: column;
}

.main__sidebar-footer hr {
    margin: 0 -20px;
}

.main__sidebar-cash {
    font-family: "Roboto Medium", sans-serif;
    font-size: 14px;
    color: var(--title__color);
    margin-bottom: 20px;
}

.main__sidebar-cash span {
    color: var(--main__color) !important;
}

.main__sidebar-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.profile-name {
    font-size: 14px;
    margin-left: 16px;
}

.main__content {
    padding: 100px 0 133px 0;
    margin-left: 60px;
    flex-grow: 1;
}

.main__content-container {
    margin: 0;
    padding: 0;
}

.main__content-title {
    font-family: "Roboto Medium", sans-serif;
    font-size: 40px;
    color: var(--title__color);

    margin-bottom: 60px;
}

.main__content-tabs {
    display: flex;
    margin-bottom: 70px;
}

.tab {
    width: 100px;
    height: 37px;

    font-family: "Roboto Medium", sans-serif;
    font-size: 16px;
}

.tab:not(:last-child) {
    margin-right: 20px;
}

.tab-interval {
    display: flex;
    align-items: center;
    color: var(--input__label-text);
}

.interval-date {
    text-decoration: underline;
    margin: 0 15px 0 15px;
}

.main__content-charts {
    display: flex;
    justify-content: center;
}

.chart-title {
    font-family: "Roboto Medium", sans-serif;
    font-size: 28px;
    color: var(--chart__color);
}

.chart__line {
    width: 1px;
    height: 450px;
    background-color: var(--border__color);;
    margin: 0 57px;
}