
.main__content {
    padding: 100px 0 133px 0;
}

.main__content-tabs {
    display: flex;
    margin-bottom: 70px;
}

.tab {
    width: 100px;
    height: 37px;

    font-family: "Roboto Medium", sans-serif;
    font-size: 16px;
}

.tab:not(:last-child) {
    margin-right: 20px;
}

.tab-interval {
    display: flex;
    align-items: center;
    color: var(--input__label-text);
}

.interval-date {
    text-decoration: underline;
    margin: 0 15px 0 15px;
}

.main__content-charts {
    display: flex;
    justify-content: center;
}

.chart-title {
    font-family: "Roboto Medium", sans-serif;
    font-size: 28px;
    color: var(--chart__color);
}

.chart__line {
    width: 1px;
    height: 450px;
    background-color: var(--border__color);;
    margin: 0 57px;
}